@charset "utf-8";
html{background-image:url(../../image/loginpage/c_bg.gif);}
body{background:#f2f2f2; font-family:"微软雅黑"; padding:0;font-size:16px;font-weight:normal;line-height:1.4em;height:100%;scrollbar-base-color:#e2e2e2;overflow-x:hidden;overflow-y:auto;max-width:1024px;min-width:320px;margin:0 auto;background:none;}
img{width:550px;height:auto;}
.intro{text-align:center;font-size: 24px;color: blue;font-family: cursive;}
p{font-size: 16px;margin-bottom:10px;}
#close{margin-left:42%;margin-top: 20px;}